# Database URL
DATABASE_URL="file:./dev.db"

# JWT Secret (generate a strong secret)
JWT_SECRET="this_is_not_secure_but_hey_its_a_demo"

# App Configuration
API_BASE_URL=http://localhost:5001/api/auth/
FRONTEND_BASE_URL="http://localhost:3000"
PORT=5001
NODE_ENV="development"

# Gmail SMTP Configuration
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM="your-email@gmail.com"